<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angelj.jcloudauth.mapper.RoleMapper">
    <select id="findRoleListByUserId" resultType="com.angelj.jcloudauth.model.Role">
        select
          sys_role.*
        from sys_role,sys_user_role
        WHERE  sys_role.F_ID = sys_user_role.F_RoleID
        AND sys_user_role.F_UserID = #{userId}
    </select>
</mapper>